$navbarHeight: 45px;

.mobileNavbarWrapper {
    width: 100%;
    height: $navbarHeight;
    margin-left: auto;
    margin-right: auto;
    padding: 1px;

    display: grid;
    grid-template-columns: 26% auto 26%;

    .menuIconWrapper {
        font-size: 28px;
        font-weight: bold;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .menuIconArea {
            margin-left: 5px;
            width: fit-content;
            cursor: pointer;
        }
    }

    .brandWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .brandText {
            text-transform: uppercase;
            font-size: 20px;
            transform: translateY(-2px);
            font-weight: 600;
            line-height: 32px;
            letter-spacing: 2px;
        }
    }

    .iconsWrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-right: 5px;

        .searchIcon {
            font-size: 19px;
            cursor: pointer;
        }

        .bagIcon {
            font-size: 22px;
            cursor: pointer;
        }

        .accountIcon {
            font-size: 22px;
            cursor: pointer;
        }
    }
}

.mobileHiddenMenu {
    transform: translateY(-$navbarHeight);
    width: 100%;
    height: 100vh;
    position: absolute;
    left: -110%;
    background-color: white;
    z-index: -1;
    transition: left .7s ease-out;

    .hiddenMenuContentWrapper {
        width: 100%;
        height: calc(100vh - $navbarHeight);
        transform: translateY($navbarHeight);
        padding-top: 1px;
        background-color: rgb(120, 120, 218);

        .hiddenMenuContent {
            width: 95%;
            height: 95%;
            margin-top: 15px;
            margin-left: auto;
            margin-right: auto;

            background-color: red;
        }
    }
}

.mobileHiddenMenuActive {
    left: 0;
}